@{
    ViewBag.Title = "Login";
}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Gllue</title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style -->
    
    <link rel="stylesheet" type="text/css" href="/source/assets/release/css/main.css">
    
</head>

<body data-weave="shared/widget/application shared/widget/root/main" class="sidebar_hidden no-top">

<!-- main content start -->
<div class="login_page" data-weave="shared/widget/login/main ">
</div>
<!-- main content end -->


    <script type="text/javascript">
        window.config = {
            clientType: '',
            shareType: 'everyone',
            plugins: ['floating', 'oneclick', 'recommendation', 'linkedin_search', 'linkedin']
        }
    </script>
    
    <script type="text/javascript" data-main="/source/assets/release/js/main.js" src="/source/assets/libs/requirejs/2.1.8/require.min.js"></script>
    <!--<script type="text/javascript" src="/source/assets/release/js/shared.min.js"></script>-->
    <script type="text/javascript" src="/source/assets/release/js/app.html.js"></script>
    <script type="text/javascript" src="/source/assets/release/js/shared.html.js"></script>
    
</body>
</html>